<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">



    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean class="irobot_stuff.InjectRandomIntAnnotationBeanPostProcessor"/>



    <bean id="speaker1" class="irobot_stuff.ConsoleSpeaker"/>
    <bean id="speaker2" class="irobot_stuff.PopupSpeaker"/>


    <bean id="cleaner" class="irobot_stuff.CleanerImpl" >

    </bean>
    <bean name="robot,irobot" class="irobot_stuff.IRobotImpl" init-method="stamInit">
        <property name="speaker" ref="speaker1"/>
        <property name="cleaner" ref="cleaner"/>
    </bean>


</beans>